<div class="wrapper" #gameField (keydown)="gameControl($event)" tabindex="1">
    <div class="content header">
        <div class="container head">
            <div>2048</div>
        </div>
        <div class="container score">
            <div>score</div>
            <div>{{getScore()}}</div>
        </div>
    </div>
    <div class="grid-container" (touchstart)="handleTouchStart($event)" (touchmove)="handleTouchMove($event)">
        <div class="grid-item " *ngFor="let item of array; let i=i ndex ">
            <div class="number-container " [ngClass]="getColour(item) + ' ' + classArray[i] ">{{item}}</div>
        </div>
    </div>
    <div class="content text ">
        <div>Use arrow keys or swipe to play</div>
    </div>
</div>