.wrapper {
    margin: 0 auto;
    font-family: 'Oswald', sans-serif;
    display: grid;
    .content {
        text-transform: uppercase;
        width: 450px;
        margin: 20px 0;
        color: #faf8ef;
        display: flex;
        justify-self: center;
        justify-content: space-between;
        .container {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            height: 60px;
            width: 100px;
            background: #776e65;
            border-radius: 5px;
            margin: 0 10px;
            &.head {
                font-size: 30px;
            }
            &.score {
                font-size: 18px;
            }
        }
        &.text {
            color: #776e65;
            justify-content: center;
        }
    }
    .grid-container {
        padding: 10px;
        border-radius: 5px;
        align-self: center;
        justify-self: center;
        display: grid;
        grid-gap: 10px;
        grid-template-columns: repeat(4, 100px);
        grid-template-rows: repeat(4, 100px);
        @media screen and (max-width: 500px) {
            grid-template-columns: repeat(4, 70px);
            grid-template-rows: repeat(4, 70px);
            .grid-item {
                .number-container {
                    font-size: 35px;
                }
            }
        }
        background: #bbada0;
        .grid-item {
            display: block;
            background: #cdc1b4;
            border-radius: 5px;
            .number-container {
                transition: transform 300ms;
                transition-timing-function: cubic-bezier(0.075, 0.82, 0.165, 1);
                display: grid;
                align-content: center;
                justify-content: center;
                width: 100%;
                height: 100%;
                border-radius: 5px;
                font-size: 40px;
                font-weight: 700;
                &.displayNone {
                    display: none;
                }
                &.move-right-1 {
                    transform: translateX(110%);
                }
                &.move-right-2 {
                    transform: translateX(220%);
                }
                &.move-right-3 {
                    transform: translateX(330%);
                }
                &.move-left {
                    transform: translateX(-110%);
                }
                &.move-left-2 {
                    transform: translateX(-220%);
                }
                &.move-left-3 {
                    transform: translateX(-330%);
                }
                &.move-down {
                    transform: translateY(110%);
                }
                &.move-down-2 {
                    transform: translateY(220%);
                }
                &.move-down-3 {
                    transform: translateY(330%);
                }
                &.move-up {
                    transform: translateY(-110%);
                }
                &.move-up-2 {
                    transform: translateY(-220%);
                }
                &.move-up-3 {
                    transform: translateY(-330%);
                }
                &.appear {
                    transform: scale(1.1);
                }
                &.title-2 {
                    background: #eee4da;
                    color: #776e65;
                }
                &.title-4 {
                    background: #ede0c8;
                    color: #776e65;
                }
                &.title-8 {
                    background: #f2b179;
                    color: #f9f6f2;
                }
                &.title-16 {
                    background: #f59563;
                    color: #f9f6f2;
                }
                &.title-32 {
                    background: #f67c5f;
                    color: #f9f6f2;
                }
                &.title-64 {
                    background: #f65e3b;
                    color: #f9f6f2;
                }
                &.title-128 {
                    color: #f9f6f2;
                    background: #edcf72;
                    box-shadow: 0 0 30px 10px rgba(243, 215, 116, 0.2381), inset 0 0 0 1px rgba(255, 255, 255, 0.14286);
                }
                &.title-256 {
                    color: #f9f6f2;
                    background: #edcc61;
                    box-shadow: 0 0 30px 10px rgba(243, 215, 116, 0.31746), inset 0 0 0 1px rgba(255, 255, 255, 0.19048);
                }
                &.title-512 {
                    background: #edc850;
                    color: #f9f6f2;
                    box-shadow: 0 0 30px 10px rgba(243, 215, 116, 0.39683), inset 0 0 0 1px rgba(255, 255, 255, 0.2381)
                }
                &.title-1024 {
                    color: #f9f6f2;
                    background: #edc53f;
                    box-shadow: 0 0 30px 10px rgba(243, 215, 116, 0.47619), inset 0 0 0 1px rgba(255, 255, 255, 0.28571);
                }
                &.title-2048 {
                    color: #f9f6f2;
                    background: #edc22e;
                    box-shadow: 0 0 30px 10px rgba(243, 215, 116, 0.55556), inset 0 0 0 1px rgba(255, 255, 255, 0.33333);
                }
            }
        }
    }
}